<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <style>
    html, body {
      height: 100%;
    }
    body {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  </style>
</head>

<body>
  <div>
  <div>
    <h1>{{ title }}</h1>
    <img src="data:image/png;base64,{{ plot_url }}" alt="Chart">
  </div>
  <div class="navigation">
    <a href="{{ url_for('show_chart', chart_id=prev_id) }}">&#8592; Previous</a>
    <a href="{{ url_for('show_chart', chart_id=next_id) }}">Next &#8594;</a>
  </div>
  </div>
</body>

</html>

